{% extends 'base.html' %}
{% block content %}
{% for bike in bikes %}
<div class="row">
    <hr>
            <div class="col-md-4 col-sm-3">
                <a class="story-img" href="#">                                 
                    <div class="img-bikepost" style="background-image: url('{{ MEDIA_URL }}{{ bike.image }}');"></div>
                </a>
                <p><span class="boldtext">Author:</span> Mac</p>
            </div>
        
            <div id="bikeInfo" class="col-md-8 col-sm-9">
                <h3>{{ bike.name }}</h3>
                <div class="row">
                    <div class="col-md-8 xs-9">
                        <p>{{ bike.description|truncatewords:30 }}</p>
                        <p><span class="boldtext">Published on:</span> {{ bike.published_date }} </p>
                        <p><a href="{% url 'bike_detail' bike.id %}"  class="btn btn-success">Read more</a></p>
                        <button type="button" class="btn btn-info">
                            Views <span class="badge badge-light">{{bike.views}}</span>
                            <span class="sr-only">Bike Views</span>
                        </button>
                        <p><span class="boldtext">Tag:</span> {{ bike.tag }}</p>
                        
                        
                        
                    </div>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
{% endblock %}